// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 35px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

.wbutton {
    font-size:3em;
    height: 2.8em;
}  

.wtexthighlight {
    color: dodgerblue;
    font-size:3.7em;
    height: 2em;
}  

.wtextfield, .wpasswordfield {
    font-size:3em;
    height: 2.5em;
}

.wlabel {
    font-size:2.5em;
}  

.wnotification-ok {
    font-size:3em;
    color: dodgerblue;
    //border: 2px solid dodgerblue;
}  

.wnotification-err {
    font-size:3em;
    background: red;
    color: white;
}  

.wnotification-warn {
    font-size:3em;
    background: #FFFF00;
    border: 5px solid #C00000;
    color: black;
}  

//видна разница между латинскими буквами и русскими
//если font-family: sans-serif; то все нормально
.v-checkbox label {
    font-family: sans-serif;
}

//видна разница между латинскими буквами и русскими
//если font-family: sans-serif; то все нормально
.v-label { 
    font-family: sans-serif;
}

}  

